<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <!--<link rel="icon" href="favicon.ico">-->
    <link rel="stylesheet" th:href="@{/static/resources/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/css/index.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/layui_ext/dtree/dtree.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/layui_ext/dtree/font/dtreefont.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/layui/dist/formSelects-v4.css}" media="all" />
</head>
<style>
    #febs-user-detail #user-img, #febs-user-detail .user-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-user-detail #user-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-user-detail #user-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-user-detail .user-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-user-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-user-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<body>
<!--模糊查询部分-->
<form class="layui-form" id="searchForm" lay-filter="searchForm">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <span>权限名称:</span>&nbsp;&nbsp;
            <div class="layui-inline">
                <input class="layui-input" name="title" id="name" placeholder="权限名称" autocomplete="off">
            </div>
            <div class="layui-inline">
                &nbsp;&nbsp;
                <button type="button" class="layui-btn layui-btn-normal"  lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>搜索</button></legend>
                <button type="reset" class="layui-btn layui-btn-warm" ><span class="layui-icon layui-icon-refresh"></span>重置</button></legend>
            </div>
        </form>
    </blockquote>
</form>
<!--数据表格-->
<table class="layui-hide" id="deptTable" lay-filter="deptTable"></table>
<!--表格工具条-->
<div id="toolBar" style="display: none;">
    <button type="button" class="layui-btn  layui-bg-blue layui-btn-sm"  lay-event="add"><span class="layui-icon">&#xe608;</span>添加权限</button>
</div>
<!--单行工具条-->
<script type="text/html" id="lineBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>

</script>

<!--部门添加修改模态框-->
<div style="display: none;padding: 10px" id="addOrUpdateModal">
    <form action="" method="post" class="layui-form " id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">权限名称</label>
            <input type="hidden" name="id" id="id" >
            <div class="layui-input-inline">
                <input type="text" name="title" class="layui-input" lay-verify="required|name" placeholder="请输入权限名称">
            </div>
            <label class="layui-form-label">访问地址</label>
            <input type="hidden" name="id" id="href" >
            <div class="layui-input-inline">
                <input type="text" name="href" class="layui-input" lay-verify="required|href" placeholder="请输入访问地址">
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">授权名称</label>
            <input type="hidden" name="id" id="di" >
            <div class="layui-input-inline">
                <input type="text" name="permission" class="layui-input" lay-verify="required" placeholder="请输入授权名称">
            </div>
        </div>
        <!--权限列表选择-->
        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-inline">
                <label class="layui-form-label">授权角色</label>
                <div class="layui-input-inline">
                    <select name="role" id="role" class="role" lay-search="" xm-select="select1">>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="doSubmit">提交</button>
                <button type="reset" class="layui-btn layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/static/resources/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/resources/layui/dist/formSelects-v4.js}"></script>
<script  type="text/javascript">
    var refresh = false;
    var selectTree;
    var tableIns;
    layui.extend({
        dtree: '/static/resources/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['laydate', 'laypage','transfer', 'layer','dtree', 'table','form'], function(){
        var laydate = layui.laydate //日期
        var dtree=layui.dtree;
        var table = layui.table //表格
        var form=layui.form;
        var $=layui.jquery;
        var transfer=layui.transfer;
        var formSelects = layui.formSelects;

        //初始化时间选择器
        laydate.render({
            elem: '#range' //指定元素
            ,range: '~'
        });
        //加载数据
        tableIns= table.render({
            elem: '#deptTable'
            ,url:'/permission/permissionListJson'
            ,title: '部门表'
            ,page: true //开启分页
            ,height:'full-80'
            ,toolbar: '#toolBar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'id', title: 'ID',hide:true, width:80, sort: true, fixed: 'left', totalRowText: '合计：'}
                , {field: 'id', title: 'ID', align: 'conter', width: '80'}
                ,{field:'title', title:'权限名称',align:'center',width:'200'}
                ,{field:'href', title:'访问路径',align:'center',width:'200'}
                ,{field:'permission', title:'授权名称',align:'center',width:'200'}
                ,{field:'createTime', title:'创建时间',align:'center',width:'200'}
                ,{field:'updateTime', title:'上次更新时间',align:'center',width:'200'}
                ,{fixed: 'right',title:'操作' , align:'center', toolbar: '#lineBar',width:180}
            ] ]
        });
        //自定义验证规则
        form.verify({
            name: [
                /^[\u4e00-\u9fa5]{0,8}$/
                ,'角色名称必须为中文'
            ]
        });
        //模糊查询
        form.on('submit(doSearch)',function (data) {
            tableIns.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
        })
        //监听工具条的事件
        table.on("toolbar(deptTable)",function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'batchDelete':
                    batchDelete(data);
                    break;
                case 'add':
                    openAddModal(data);
                    break;
            };
        });
        //监听行工具条的事件
        table.on("tool(deptTable)",function(obj){
            var data = obj.data; //获得当前行数据
            switch(obj.event){
                case 'delete':
                    deleteUser(data);
                    break;
                case 'edit':
                    openUpdateUserModal(data);
                    break;
            };
        });


        //打开添加的弹出层
        function openAddModal(){
            $("#id").val("");
            mainIndex=layer.open({
                type:1,
                content: $("#addOrUpdateModal"),
                area:['800px','500px'],
                title:'添加用户',
                success:function(){
                    $("#dataFrm")[0].reset();
                    //远程加载职位信息
                    formSelects.data('select1', 'server', {
                        url: '/role/roleListSelectJson/?permissionId=0',
                        keyword: '角色'
                    });
                    url="/permission/add";
                }
            });
        }

        //添加
        form.on('submit(doSubmit)',function (data) {
            $.post(url,data.field,function(res){
                if(res.code==0){
                    tableIns.reload();
                    layer.msg(res.msg);
                    layer.close(mainIndex);
                }
                layer.msg(res.msg);
            })
            return false;
        })

        //打开修改模态框
        var mainIndex;
        var url;
        function openUpdateUserModal(data) {
            mainIndex=layer.open({
                type:1,
                content: $("#addOrUpdateModal"),
                area:['800px','520px'],
                title:'修改用户',
                success:function(){
                    form.val("dataFrm",data);

                    //回显职位
                    //远程加载职位信息
                    formSelects.data('select1', 'server', {
                        url: '/role/roleListSelectJson/?permissionId='+data.id+'',
                        keyword: '角色'
                    });
                    url="/permission/update";
                }
            });
        }
        //更新
        form.on('submit(doSubmit)',function (data) {
            $.post(url,data.field,function(res){
                if(res.code==0){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
            return false;
        })

        //删除
        function deleteUser(data) {
            layer.confirm('你确定要删除['+data.title+']这个权限吗?', {icon: 3, title:'提示'}, function(index){
                $.get("/permission/delete",{id:data.id},function(res){
                    if(res.code==0){
                        tableIns.reload();
                    }
                    layer.msg(res.msg);
                })
                layer.close(index);
            });
        }

    });
    function reloadTable(id) {
        tableIns.reload({
            where:{
                id:id
            },
            page:{
                curr:1
            }
        })
    }

</script>
</body>
</html>