<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <!--<link rel="icon" href="favicon.ico">-->
    <link rel="stylesheet" th:href="@{/static/resources/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/css/index.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/layui_ext/dtree/dtree.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/layui_ext/dtree/font/dtreefont.css}" media="all" />
</head>
<style>
    #febs-user-detail #user-img, #febs-user-detail .user-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-user-detail #user-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-user-detail #user-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-user-detail .user-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-user-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-user-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<body>
<!--模糊查询部分-->
<form class="layui-form" id="searchForm" lay-filter="searchForm">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <span>用户名:</span>&nbsp;&nbsp;
            <div class="layui-inline">
                <input class="layui-input" name="name" id="name" placeholder="用户名称" autocomplete="off">
            </div>
            <span>电子邮箱:</span>&nbsp;&nbsp;
            <div class="layui-inline">
                <input class="layui-input" name="email" id="location'" placeholder="电子邮箱" autocomplete="off">
            </div>
            <div class="layui-inline">
                &nbsp;&nbsp;
                <button type="button" class="layui-btn layui-btn-normal"  lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>搜索</button></legend>
                <button type="reset" class="layui-btn layui-btn-warm" ><span class="layui-icon layui-icon-refresh"></span>重置</button></legend>
            </div>
        </form>
    </blockquote>
</form>
<!--数据表格-->
<table class="layui-hide" id="userTable" lay-filter="userTable"></table>
<!--表格工具条-->
<div id="toolBar" style="display: none;">
    <button type="button" class="layui-btn  layui-bg-blue layui-btn-sm"  lay-event="add"><span class="layui-icon">&#xe608;</span>添加用户</button>
    <button type="button" class="layui-btn  layui-btn-sm layui-btn-danger"  lay-event="batchDelete" ><i class="layui-icon"></i>批量删除</button>
</div>
<!--单行工具条-->
<script type="text/html" id="lineBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>

</script>

<!--用户添加修改模态框-->
<div style="display: none;padding: 10px" id="addOrUpdateModal">
    <form action="" method="post" class="layui-form " id="dataFrm" lay-filter="dataFrm">
            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label">用户姓名</label>
                <input type="hidden" name="id" id="id" >
                <div class="layui-input-inline">
                    <input type="text" name="name" class="layui-input" lay-verify="required|name" placeholder="请输入姓名">
                </div>
                <label class="layui-form-label">登陆名</label>
                <div class="layui-input-inline">
                    <input type="text" name="loginName" class="layui-input" lay-verify="required|loginName" placeholder="请输入登陆名">
                </div>
            </div>
        <!--部门职位角色选择-->
        <div class="layui-form-item">
            <!--部门选择-->
            <div class="layui-inline">
                <label class="layui-form-label">所属部门</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="deptId" id="deptId">
                    <ul id="deptTree" class="dtree" data-id="0"></ul>
                </div>
            </div>
            <!--角色选择-->
            <div class="layui-inline">
                <label class="layui-form-label">角色</label>
                <div class="layui-input-inline">
                    <ul id="roleTree" class="dtree" data-id="0"></ul>
                    <select name="role" id="role" class="role" lay-verify="required" lay-search="">
                        <option value="">选择角色</option>
                    </select>
                </div>
            </div>
            <!--职位选择-->
            <div class="layui-inline">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-inline">
                    <ul id="jobTree" class="dtree" data-id="0"></ul>
                    <select name="job" id="job" class="job" lay-search="">
                        <option value="">请先选择部门</option>
                    </select>
                </div>
            </div>
        </div>

            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" class="layui-input" lay-verify="email" placeholder="请输入邮箱">
                </div>
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" class="layui-input" lay-verify="phone" placeholder="请输入电话号码">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">性别</label>
                <div id="userSex" class="layui-input-inline">
                    <input type="radio" id="sex1" name="sex" value="0" title="男"><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><div>男</div></div>
                    <input type="radio" id="sex" name="sex" value="1" title="女"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>女</div></div>
                </div>
            </div>
            <div class="layui-form-item layui-row layui-col-xs12">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="doSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/static/resources/layui/layui.js}"></script>
<script  type="text/javascript">
    var refresh = false;
    var selectTree;
    layui.extend({
        dtree: '/static/resources/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['laydate', 'laypage','transfer', 'layer','dtree', 'table','form'], function(){
        var laydate = layui.laydate //日期
        var dtree=layui.dtree;
        var table = layui.table //表格
        var form=layui.form;
        var $=layui.jquery;
        var transfer=layui.transfer;

        //初始化时间选择器
        laydate.render({
            elem: '#range' //指定元素
            ,range: '~'
        });
        //加载数据
        var tableIns= table.render({
            elem: '#userTable'
            ,url:'/user/admin'
            ,title: '用户表'
            ,page: true //开启分页
            ,height:'full-80'
            ,toolbar: '#toolBar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'id', title: 'ID',hide:true, width:80, sort: true, fixed: 'left', totalRowText: '合计：'}
                ,{field: 'userNo', title: '员工编号', width:100}
                ,{field: 'name', title: '用户名', width:100}
                ,{field: 'loginName', title: '登录名', width:120}
                ,{field: 'job', title: '职位', width:100}
                ,{field: 'role', title: '角色', width:100}
                ,{field: 'deptNo', title: '部门id', width:100,hide:true}
                ,{field: 'deptCoNo', title: '所属部门编号', width:120}
                ,{field: 'dept', title: '所属部门', width:120}
                ,{field: 'phone', title: '电话号码', sort: true, width:120}
                ,{field: 'email', title: '电子邮箱', sort: true, width:150}
                ,{field:'sex', title:'性别',align:'center',width:'80',templet:function(d){
                        return (d.sex==0?'男':(d.sex==1?'女':''));
                    }}
                ,{field: 'createTime', title: '创建时间', width:180}
                ,{field: 'updateTime', title: '更新时间', width:180}
                ,{fixed: 'right',title:'操作' , align:'center', toolbar: '#lineBar',width:180}
            ] ]
        });
        //自定义验证规则
            form.verify({
                name: [
                    /^[\u4e00-\u9fa5]{0,8}$/
                    ,'姓名必须为中文'
                ]
                ,loginName: [
                    /^[A-Za-z0-9]+$/
                    ,'登录名必须是英文或数字'
                ]
        });
        //模糊查询
        form.on('submit(doSearch)',function (data) {
            tableIns.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
        })
        //监听工具条的事件
        table.on("toolbar(userTable)",function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'batchDelete':
                    batchDelete(data);
                    break;
                case 'add':
                    openAddModal(data);
                    break;
            };
        });
        //监听行工具条的事件
        table.on("tool(userTable)",function(obj){
            var data = obj.data; //获得当前行数据
            switch(obj.event){
                case 'delete':
                    deleteUser(data);
                    break;
                case 'edit':
                    openUpdateUserModal(data);
                    break;
            };
        });

        //初始化添加弹出层部门的下拉列表
        var deptTree=dtree.renderSelect({
            elem: "#deptTree",
            width: "100%", // 可以在这里指定树的宽度来填满div
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            dataFormat: "list",  //配置data的风格为list
            response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
            url: "/dept/loadDeptManagerLeftTreeJson" // 使用url加载（可与data加载同时存在）
        });
      //监听点击的部门的方法，查找对应的职位
        dtree.on("node(deptTree)" ,function(obj){
            $("#deptId").val(obj.param.nodeId);
            $.get("/job/jobLists",{deptId:obj.param.nodeId},function (res) {
                var jobSelect= $("#job");
                var html='<option value=0>请选择职位</option>';
                $.each(res.data,function (index, item) {
                    html+="<option value='"+item.id+"'>"+item.job+"</option>"
                })
                jobSelect.html(html);
                form.render('select');
            });

        });


        //打开添加的弹出层
        function openAddModal(){
            $("#id").val("");
            mainIndex=layer.open({
                type:1,
                content: $("#addOrUpdateModal"),
                area:['800px','500px'],
                title:'添加用户',
                success:function(){
                    $("#dataFrm")[0].reset();
                    //初始化角色信息
                    $.get("/role/roleList",{},function (res) {
                        var roleSelect= $("#role");
                        var html='<option value=0>请选择角色</option>';
                        $.each(res.data,function (index, item) {
                            html+="<option value='"+item.id+"'>"+item.role+"</option>"
                        })
                        roleSelect.html(html);
                        form.render('select');
                    });
                    url="/user/add";
                }
            });
        }

        //添加
        form.on('submit(doSubmit)',function (data) {
            $.post(url,data.field,function(res){
                if(res.code==0){
                    tableIns.reload();
                    layer.msg(res.msg);
                    layer.close(mainIndex);
                }
                layer.msg(res.msg);
            })
            tableIns.reload();
            return false;
        })

        //打开修改模态框
        var mainIndex;
        var url;
        function openUpdateUserModal(data) {
            mainIndex=layer.open({
                type:1,
                content: $("#addOrUpdateModal"),
                area:['800px','520px'],
                title:'修改用户',
                success:function(){
                    form.val("dataFrm",data);
                    //选中之前父级的部门  nodeId=data.pid;
                    dtree.dataInit("deptTree", data.deptNo);
                    dtree.setSelectValue("deptTree");
                    //获取职位
                        var roleSelect= $("#role");
                        form.render('select');
                        $.get("/role/roleList",{},function (res) {
                        var html='<option value=0>请选择角色</option>';
                        //初始化角色信息
                        $.each(res.data,function (index, item) {
                            //默认选中原角色
                            if($.trim(item.role) == $.trim(data.role)){
                                html+="<option value='"+item.id+"' selected='selected'>"+item.role+"</option>"
                            }
                            else {
                                html+="<option value='"+item.id+"'>"+item.role+"</option>"
                            }
                        })
                        roleSelect.html(html);
                        form.render('select');
                    });
                    //获取职位id
                    var html='<option value=0>请选择职位</option>';
                    $.get("/job/jobId",{title:data.job},function (res){
                        if(data.job != null){
                            html+="<option value='"+res.id+"' selected='selected'>"+data.job+"</option>"
                            $("#job").html(html);
                        }
                        form.render('select');
                    })


                    //回显性别
                    if(data.sex == 1){
                        $("#sex").removeAttr("checked")
                        $("#sex1").attr("checked","checked");
                    }
                    if(data.sex == 0){
                        $("#sex1").removeAttr("checked")
                        $("#sex").attr("checked","checked");
                    }
                    form.render('select');
                    url="/user/update";
                }
            });
        }
        //更新
        form.on('submit(doSubmit)',function (data) {
            $.post(url,data.field,function(res){
                if(res.code==0){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
            tableIns.reload();
            return false;
        })

        //删除
        function deleteUser(data) {
            layer.confirm('你确定要删除['+data.name+']这条登入用户吗?', {icon: 3, title:'提示'}, function(index){
                $.get("/user/delete",{id:data.id},function(res){
                    if(res.code==0){
                        tableIns.reload();
                    }
                    layer.msg(res.msg);
                })
                layer.close(index);
            });
        }
        //批量删除
        function batchDelete() {
            //得到选中行
            var checkStatus = table.checkStatus('userTable');
            var dataLength=checkStatus.data.length;
            if(dataLength>0){
                layer.confirm('你确定要删除这些数据吗?', {icon: 3, title:'提示'}, function(index){
                    var data=checkStatus.data; //获取选中行的数据
                    var ids="";
                    $.each(data,function(index,item){
                        ids+=item.id+",";
                    })
                    ids=ids.substring(0,ids.length-1);
                    $.post("/user/batchDelete",{"ids":ids},function(res){
                        if(res.code==0){
                            tableIns.reload();
                        }
                        layer.msg(res.msg);
                    })
                    layer.close(index);
                });
            }else{
                layer.msg("请选中操作行")
            }
        }
    });

</script>
</body>
</html>