<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>管理后台首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--<link rel="icon" href="/favicon.ico">-->
    <link rel="stylesheet" th:href="@{/static/resources/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/resources/css/public.css}" media="all" />
</head>
<body class="childrenBody">
    <!--当前时间-->
    <blockquote class="layui-elem-quote layui-bg-green">
        <div id="nowTime"></div>
    </blockquote>

    <script type="text/javascript" th:src="@{/static/resources/layui/layui.js}"></script>
    <script>
        //获取当前登陆人的信息
        var currentUserName = '[[${session.userName}]]';
        //获取系统时间
        var newDate = '';
        getLangDate();
        //值小于10时，在前面补0
        function dateFilter(date) {
            if(date < 10){
                return "0" +date;
            }
            return date;
        }
        //处理当前时间
        function getLangDate() {
            var dateObj = new Date(); //表示当前系统时间的Date对象
            var year = dateObj.getFullYear();   //当前系统时间的完整年份值
            var month = dateObj.getMonth()+1;   //当前系统时间的月份值
            var date = dateObj.getDate(); //当前系统时间的月份中的日
            var day = dateObj.getDay();  //当前系统时间中的星期值
            var weeks = ["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
            var week = weeks[day]; //根据星期值，从数组中获取对应的星期字符串
            var hour = dateObj.getHours(); //当前系统时间的小时值
            var minute = dateObj.getMinutes(); //当前系统时间的分钟值
            var second = dateObj.getSeconds(); //当前系统时间的秒钟值
            var timeValue = "" +((hour >= 12) ? (hour >= 18) ? "晚上" : "下午" : "上午" ); //当前时间属于上午、晚上还是下午
            newDate = dateFilter(year)+"年"+dateFilter(month)+"月"+dateFilter(date)+"日 "+" "+dateFilter(hour)+":"+dateFilter(minute)+":"+dateFilter(second);
            document.getElementById("nowTime").innerHTML = "亲爱的【"+currentUserName+"】，"+timeValue+"好！ 欢迎使用 xxx管理系统。当前时间为： "+newDate+"　"+week;
            setTimeout("getLangDate()",1000);
        }
    </script>
</body>
</html>